@import "./utils";

:root {
  --white: #ffffff;
  --black: #000000;
  --teal: #3dc9b3;

  --grey_100: #f3f5f8;
  --grey_200: #f2f2f2;
  --grey_300: #a1a9b0;
  --grey_400: #8c9398;
  --grey_500: #353535;
  --grey_600: #242830;

  --primary: var(--teal);

  --opacity: 0.5;
  --transparent_teal: rgba(61, 201, 179, var(--opacity));

  --grid_container: [left-gutter] 1fr [contained] minmax(0, 1150px)
    [right-gutter] 1fr;
}

body {
  margin: 0;
  font-family: "Varela Round", sans-serif;
  color: var(--grey_300);
  font-size: 14px;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  margin-top: 0;
}

h1 {
  font-size: 2.5rem;
}

p {
  line-height: 1.6;
  margin-top: 0;
}

.primary-circle {
  background: var(--primary);
  width: 175px;
  height: 175px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--white);
  font-size: 3.5rem;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
